@use 'variables'
    
*
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none
    box-sizing: border-box

html
    overflow-x: hidden

    &::-webkit-scrollbar
        width: 3px

        &:hover
            background: #ffffff1f

p
    @include variables.font-secundary(15px, 0px, variables.$secundary-color)
    line-height: 25px
    padding: 3px

    @include variables.tablet
        font-size: 16px
        line-height: 28px
        margin: 0 5px

    @include variables.desktop
        text-align: left
        font-size: 18px
        line-height: 32px

li
    @include variables.font-secundary(14px, 2.36px, variables.$secundary-color)
    cursor: pointer

    @include variables.tablet
            font-size: 16px
            letter-spacing: 2.7px

h1
    @include variables.font-primary(80px)
    
    @include variables.tablet
        font-size: 150px

h2
    @include variables.font-primary(56px)
    
    @include variables.tablet
        font-size: 80px

    @include variables.desktop
        font-size: 100px

h3
    @include variables.font-primary(24px)

    @include variables.tablet
        font-size: 40px

    @include variables.desktop
        font-size: 56px

h4
    @include variables.font-primary(16px)

    @include variables.tablet
        font-size: 24px

    @include variables.desktop
        font-size: 32px

h5
    @include variables.font-secundary(16px, 2.7px, variables.$secundary-color)

    @include variables.tablet
        font-size: 20px

    @include variables.desktop
        font-size: 28px
        letter-spacing: 4.72px

.subheading
    &-1
        @include variables.font-primary(28px)

    &-2
        @include variables.font-secundary(14px, 2.36px, variables.$secundary-color)

.btn-text
    text-transform: uppercase
    font-family: variables.$font-primary
    color: variables.$bg-color
    font-size: 20px
    letter-spacing: 1.25px

    @include variables.tablet
        font-size: 32px
        letter-spacing: 2px

h1,h2,h3,h4,h5,li,.subheading-1,.subheading-2
    text-transform: uppercase

    @include variables.desktop
        text-align: left

.strong
    font-weight: bold
    margin-right: 5px

.hidden
    display: none

.header
    display: flex
    justify-content: space-between
    align-items: center

    &-logo
        width: 40px
        height: 40px

        @include variables.tablet
            margin: 24px 0
            width: 48px
            height: 48px

        & img, a
            width: 100%
            height: 100%

    &-menu
        & img
            cursor: pointer

            @include variables.tablet
                display: none

        & ul
            position: absolute
            right: 0
            top: 0
            height: 100vh
            width: 254px
            background: rgba(255, 255, 255, 0.04)
            backdrop-filter: blur(35px)
            padding-top: 118px

            @include variables.tablet
                height: 96px
                width: 450px
                padding: 0 48px
                display: flex
                flex-direction: row
                justify-content: space-between

            @include variables.desktop
                top: 40px
                width: 60vw

            & img
                position: absolute
                top: 34px
                right: 24px
                cursor: pointer

                @include variables.tablet
                    display: none

            & li
                margin: 0 0 32px 32px
                text-align: left

                @include variables.tablet
                    margin: 0
                    display: flex
                    align-items: center

                & span

                    @include variables.tablet
                        display: none
                    
                    @include variables.desktop
                        display: inline

                &:hover
                    border-right: 4px solid rgba(255, 255, 255, 0.5)

                    @include variables.tablet
                        border-right: none
                        box-shadow: 0px 3px 0 0 rgba(255, 255, 255, 0.5)

                & a
                    @include variables.font-secundary(18px, 2.7px, variables.$primary-color)

                    @include variables.tablet
                        @include variables.font-secundary(14px, 2.36px, variables.$primary-color)
                        padding: 40px 0

                    @include variables.desktop
                        font-size: 16px

        & .active
            border-right: 4px solid variables.$primary-color

            @include variables.tablet
                border-right: none
                box-shadow: 0px 3px 0 0 variables.$primary-color

.main
    margin-top: 24px

    @include variables.tablet
        margin-top: 40px    

    @include variables.desktop
        margin: 76px 5vw 0 5vw

    &-title
        color: variables.$primary-color
        margin-bottom: 32px

        @include variables.tablet
            margin-bottom: 60px

        & .strong
            opacity: 0.25

    &-content
        display: flex
        flex-direction: column
        justify-content: center
        margin: 0 auto
        min-width: 240px
        max-width: 450px

        @include variables.tablet
            min-width: 500px
            max-width: 60%

        @include variables.desktop
            max-width: 1110px
            flex-direction: row
            align-items: flex-end
            justify-content: space-between

        &-intro
            display: flex
            justify-content: center

        &-info
            display: flex
            flex-direction: column

            &-title
                margin: 0

            &-subtitle
                opacity: 0.5

    &-menu ul
        display: flex
        flex-direction: row
        justify-content: center
        column-gap: 16px

        @include variables.desktop
            column-gap: 36px

        & li

            &:hover
                border-bottom: 3px solid rgba(255, 255, 255, 0.5)

        & .active
            color: variables.$primary-color
            border-bottom: 3px solid variables.$primary-color

#home
    & body
        @include variables.body-mobile(home)

        @include variables.tablet
            @include variables.body-tablet(home)

        @include variables.desktop
            @include variables.body-desktop(home)
    
    & .main
        margin-top: 48px

        @include variables.tablet
            margin-top: 106px
            
        @include variables.desktop
            margin-top: 24vh

        &-content
            &-title
                margin: 16px 0

                @include variables.tablet
                    margin: 24px 0

            & div
                @include variables.desktop
                    width: 450px
                
            &-btn
                margin: 81px auto 0 auto
                width: 170px
                height: 170px
                border-radius: 50%
                border: none
                background: variables.$primary-color

                @include variables.tablet
                    margin-top: 156px
                    width: 242px
                    height: 242px

                @include variables.desktop
                    margin: 0
                    width: 274px
                    height: 274px
                
                &:hover
                    outline: 30px solid #97979769
                    transition: 0.3s

                    @include variables.tablet
                        outline-width: 40px

                    @include variables.desktop
                        outline-width: 50px

#destinations
    & body
        @include variables.body-mobile(destination)

        @include variables.tablet
            @include variables.body-tablet(destination)

        @include variables.desktop
            @include variables.body-desktop(destination)

    & .main-content
        @include variables.tablet
            min-width: 573px

        @include variables.desktop
            width: 100%
            column-gap: 15px
            margin-top: 64px

        &-intro
            &-img
                width: 170px

                @include variables.tablet
                    width: 300px

                @include variables.desktop
                    width: 445px                   

        &-info
            @include variables.desktop
                min-width: 390px
                min-height: 445px
                justify-content: space-between

            &-title
                @include variables.desktop
                    margin: 37px 0 14px 0

            &-description
                @include variables.tablet
                    height: 84px
                    
                @include variables.desktop
                    height: 128px
                    min-width: 350px
                    max-width: 444px
                    margin: 0
                    padding: 0

            &-distance
                margin-top: 32px
                margin-bottom: 24px
                padding-top: 32px
                border-top: 1px solid rgba(255, 255, 255, 0.5)
                display: flex
                flex-direction: column
                row-gap: 32px

                @include variables.tablet
                    margin-top: 49px
                    padding-top: 28px
                    flex-direction: row
                    justify-content: center
                    column-gap: 11px

                @include variables.desktop
                    justify-content: flex-start
                    margin: 54px 0 0 0
                & div
                    @include variables.tablet
                        width: 216px

    & .main-menu ul
        column-gap: 26px
        margin: 26px 0 20px 0

        @include variables.tablet
            column-gap: 35px
            margin: 53px 0 32px 0

        @include variables.desktop
            justify-content: flex-start
            margin: 0

        & li
            padding-bottom: 8px

#crew
    & body
        @include variables.body-mobile(crew)

        @include variables.tablet
            @include variables.body-tablet(crew)

        @include variables.desktop
            @include variables.body-desktop(crew)
            padding-bottom: 0

    & .main
        @include variables.desktop
            margin-right: 0
        
        &-content
            @include variables.tablet
                margin-bottom: 0
                flex-direction: column-reverse

            @include variables.desktop
                max-width: none
                margin: 0
                flex-direction: row-reverse

            &-intro
                &-img
                    height: 223px

                    @include variables.tablet
                        height: 532px

                    @include variables.desktop
                        height: none
                        min-width: 300px
                        max-width: 616px

            & div
                @include variables.tablet
                    display: flex
                    flex-direction: column-reverse

                @include variables.desktop
                    margin-bottom: 10vh
                    justify-content: space-between
                    height: 406px

            &-info
                @include variables.desktop
                    display: flex
                    justify-content: center

                &-title
                    margin: 8px 0 16px 0

                    @include variables.desktop
                        margin: 15px 0 27px 0

                &-description
                    @include variables.tablet
                        height: 84px
                    @include variables.desktop
                        height: 128px
                        min-width: 350px
                        max-width: 444px
                        margin: 0
                        padding: 0
        
    & .main-menu
        & ul
            margin: 32px 0

            @include variables.tablet
                margin: 40px 0

            @include variables.desktop
                margin: 0
                justify-content: flex-start

        & li
            width: 10px
            height: 10px
            background: variables.$primary-color
            border-radius: 50%
            opacity: 0.17

            @include variables.desktop
                width: 15px
                height: 15px

            &:hover
                opacity: 0.5
                cursor: pointer

        & .active
            opacity: 1
            
        & span
            display: none

#technology
    & body
        @include variables.body-mobile(technology)

        @include variables.tablet
            @include variables.body-tablet(technology)

        @include variables.desktop
            @include variables.body-desktop(technology)

    & .main
        @include variables.desktop
            margin-right: -3vw
        
        &-content
            @include variables.tablet
                min-width: 458px
            @include variables.desktop
                max-width: none
                align-items: center
                justify-content: space-between
            
            &-intro
                @include variables.desktop
                    order: 2
                
                &-img 
                    min-height: 170px
                    max-height: 230px
                    width: 100vw

                    @include variables.tablet
                        min-height: 310px
                        max-height: 350px
                    @include variables.desktop           
                        min-height: 400px
                        max-height: 527px
                        width: 100%
            & div
                display: flex
                flex-direction: column
                justify-content: center

                @include variables.desktop
                    order: 1
                    flex-direction: row
                    justify-content: space-between
                    column-gap: 15px
                    width: 630px
                    height: 303px

                & .main-content-info
                    @include variables.desktop
                        width: 475px

                    &-title
                        margin: 9px 0 16px 0

                        @include variables.tablet
                            margin: 16px 0

                        @include variables.desktop
                            margin: 11px 0 17px 0

                    &-description
                        @include variables.desktop
                            min-width: 300px
                            max-width: 444px
                            margin: 0
                            padding: 0

    & .main-menu

        & ul
            margin: 34px 0 26px 0

            @include variables.tablet
                margin: 56px 0 44px 0

            @include variables.desktop
                flex-direction: column
                row-gap: 32px
                margin: 0

        & li
            @include variables.font-primary(16px)
            width: 40px
            height: 40px
            border-radius: 50%
            border: 1px solid rgba(255, 255, 255, 0.25)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            @include variables.tablet
                height: 60px
                width: 60px
                font-size: 24px

            @include variables.tablet
                height: 80px
                width: 80px
                font-size: 32px

            &:hover
                border: 1px solid variables.$primary-color
                cursor: pointer

        & .active
            background: variables.$primary-color
            color: variables.$bg-color