@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 3px;
}
html::-webkit-scrollbar:hover {
  background: rgba(255, 255, 255, 0.1215686275);
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #D0D6F9;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #D0D6F9;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    padding: 3px;
  }
}

li {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: #D0D6F9;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

h1, h2, h3, h4, h5, li {
  text-transform: uppercase;
}

h1 {
  font-family: "Bellefair", serif;
  font-size: 80px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 150px;
  }
}

h2 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: "Bellefair", serif;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 32px;
  }
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 20px;
  }
}

.subheading-1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: #D0D6F9;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .subheading-2 {
    font-size: 16px;
  }
}

.strong {
  font-weight: bold;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin: 24px 0;
    width: 48px;
    height: 48px;
  }
}
.header-logo img, .header-logo a {
  width: 100%;
  height: 100%;
}
.header-menu img {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-menu img {
    display: none;
  }
}
.header-menu ul {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 254px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(35px);
  padding-top: 118px;
}
@media screen and (min-width: 768px) {
  .header-menu ul {
    height: 96px;
    width: 450px;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.header-menu ul img {
  position: absolute;
  top: 34px;
  right: 24px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-menu ul img {
    display: none;
  }
}
.header-menu ul li {
  margin: 0 0 32px 32px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .header-menu ul li {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header-menu ul li span {
    display: none;
  }
}
.header-menu ul li:hover {
  border-right: 4px solid rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .header-menu ul li:hover {
    border-right: none;
    box-shadow: 0px 3px 0 0 rgba(255, 255, 255, 0.5);
  }
}
.header-menu ul li a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header-menu ul li a {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    letter-spacing: 2.36px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
  }
}
.header-menu .active {
  border-right: 4px solid #fff;
}
@media screen and (min-width: 768px) {
  .header-menu .active {
    border-right: none;
    box-shadow: 0px 3px 0 0 #fff;
  }
}

.main {
  border: 1px solid red;
}
.main-title {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .main-title {
    margin-top: 40px;
    font-size: 24px;
    text-align: left;
  }
}
.main-title .strong {
  opacity: 0.25;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px solid red;
}
@media screen and (min-width: 768px) {
  .main-content {
    width: 458px;
    margin: 60px auto 48px auto;
  }
}
.main-content-subtitle {
  margin-top: 24px;
}
.main-content-title {
  margin: 16px 0;
}
.main-content-btn {
  margin: 81px auto 0 auto;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: none;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .main-content-btn {
    margin-top: 156px;
    width: 242px;
    height: 242px;
  }
}
.main-content-btn h4 {
  color: #0b0d17;
}
.main-content-btn:hover {
  outline: 30px solid rgba(151, 151, 151, 0.4117647059);
  transition: 0.3s;
}
.main-content-intro {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .main-content-intro {
    margin-bottom: 53px;
  }
}
.main-content-info {
  display: flex;
  flex-direction: column;
}
.main-content-info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 27px;
}
.main-content-info ul li {
  padding-bottom: 8px;
}
.main-content-info ul li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.main-content-info ul .active {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.main-content-info-distance {
  margin-top: 32px;
  margin-bottom: 24px;
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media screen and (min-width: 768px) {
  .main-content-info-distance {
    margin-top: 49px;
    padding-top: 28px;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
  }
}
.main-content-info h4 {
  font-family: "Bellefair", serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 8px;
}
.main-content-info h3 {
  margin-bottom: 20px;
}
.main-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .main-menu ul {
    margin-bottom: 32px;
  }
}

#home body {
  background: #0b0d17 url("../images/home/background-home-mobile.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  #home body {
    background: #0b0d17 url("../images/home/background-home-tablet.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
    padding: 24px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 768px) {
  #home .main-content {
    margin-top: 106px;
  }
}

#destinations body {
  background: #0b0d17 url("../images/destination/background-destination-mobile.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  #destinations body {
    background: #0b0d17 url("../images/destination/background-destination-tablet.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
    padding: 24px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 768px) {
  #destinations .main-content {
    width: 573px;
  }
}
#destinations .main-content-intro-img {
  width: 170px;
}
@media screen and (min-width: 768px) {
  #destinations .main-content-intro-img {
    width: 300px;
  }
}

#crew body {
  background: #0b0d17 url("../images/crew/background-crew-mobile.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  #crew body {
    background: #0b0d17 url("../images/crew/background-crew-tablet.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
    padding: 24px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 768px) {
  #crew .main-content {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  #crew .main-content-intro {
    order: 3;
    margin: 0;
  }
}
#crew .main-content-intro-img {
  height: 223px;
}
@media screen and (min-width: 768px) {
  #crew .main-content-intro-img {
    height: 532px;
  }
}
@media screen and (min-width: 768px) {
  #crew .main-content-info {
    order: 1;
  }
}
#crew .main-content-info h4 {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  #crew .main-menu {
    order: 2;
    margin: 40px 0 8px 0;
  }
}
#crew .main-menu li {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.17;
}
#crew .main-menu li:hover {
  opacity: 0.5;
  cursor: pointer;
}
#crew .main-menu .active {
  opacity: 1;
}
#crew .main-menu span {
  display: none;
}

#technology body {
  background: #0b0d17 url("../images/technology/background-technology-mobile.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  #technology body {
    background: #0b0d17 url("../images/technology/background-technology-tablet.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
    padding: 24px;
    padding: 0 39px;
  }
}
#technology .main-content-intro-img {
  min-width: 100vw;
  height: 170px;
}
@media screen and (min-width: 768px) {
  #technology .main-content-intro-img {
    height: 310px;
  }
}
#technology .main-menu li {
  font-family: "Bellefair", serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #technology .main-menu li {
    height: 60px;
    width: 60px;
    font-size: 24px;
  }
}
#technology .main-menu li:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
#technology .main-menu .active {
  background: #fff;
  color: #0b0d17;
}

/*# sourceMappingURL=style.css.map */
